.circle-text {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-text span {
  position: absolute;
  transform-origin: center 100px;
  font-size: 16px;
  font-weight: bold;
}

.textcontainer svg {
  align-self: flex-end;
  margin-right: 40px;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
